[project]
	description = A material music player for the android platform, git it here : https://play.google.com/store/apps/details?id=com.aniruddhc.acemusic.player&hl=en
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Aniruddh Chandratre (C-Aniruddh)
[access "refs/for/refs/*"]
	read = group user/Aniruddh Chandratre (C-Aniruddh)
	push = group user/Aniruddh Chandratre (C-Aniruddh)
	label-Code-Review = -2..+2 group user/Aniruddh Chandratre (C-Aniruddh)
	label-Verified = -1..+1 group user/Aniruddh Chandratre (C-Aniruddh)
	rebase = group user/Aniruddh Chandratre (C-Aniruddh)
	removeReviewer = group user/Aniruddh Chandratre (C-Aniruddh)
	submit = group user/Aniruddh Chandratre (C-Aniruddh)
[access "refs/heads/*"]
	read = group user/Aniruddh Chandratre (C-Aniruddh)
	create = group user/Aniruddh Chandratre (C-Aniruddh)
	push = +force group user/Aniruddh Chandratre (C-Aniruddh)
	pushMerge = group user/Aniruddh Chandratre (C-Aniruddh)
[access "refs/tags/*"]
	push = +force group user/Aniruddh Chandratre (C-Aniruddh)
	createTag = group user/Aniruddh Chandratre (C-Aniruddh)
	createSignedTag = group user/Aniruddh Chandratre (C-Aniruddh)
